.logo{
    width:120px;
    height:120px;
}


.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px; /* Taille du produit */
    height: 500px; /* Hauteur ajustable */
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    overflow: hidden; /* Empêche les débordements */
}

.product-img {
    width: 100%;
    height: 200px; /* Ajuste la hauteur des images */
    object-fit: cover; /* Ajuste l'image sans déformation */
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-panier {
    background: green;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #f4f4f4;
}

button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
